<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Candidate_TestScripts.TC_ID_06_Logout"/>
      <class name="Candidate_TestScripts.TC_ID_07_Dashboard_Page"/>
      <class name="Candidate_TestScripts.TC_ID_07_Candidate_Job_Apply"/>
      <class name="Candidate_TestScripts.TC_ID_07_JobListing_Direct_JobApply"/>
      <class name="Candidate_TestScripts.TC_ID_09_Candidate_YourApplication"/>
      <class name="Candidate_TestScripts.TC_ID_21_Forgot_Password"/>
      <class name="Candidate_TestScripts.TC_ID_06_Candidate_Profile_Update"/>
      <class name="Candidate_TestScripts.TC_ID_06_Security_ChangePassword"/>
      <class name="Candidate_TestScripts.TC_ID_06_Update_Profile_while_applying_for_job"/>
      <class name="Candidate_TestScripts.TC_ID_05_Register_and_Login"/>
      <class name="Candidate_TestScripts.TC_ID_05_Login_with_InvalidData"/>
      <class name="Candidate_TestScripts.TC_ID_07_Landing_Page"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
